<form asp-action="Index">
    
    <label>StudentID:</label><br>
    <input type="text" name="StudentID" required placeholder="Enter StudentID"><br>
    <label>FullName:</label><br>
    <input type="text" name="FullName" required placeholder="Enter fullname"><br>
    <label>Address:</label><br>
    <input type="text" name="Address" required placeholder="Enter address"><br>
    <label>Age:</label><br>
    <input type="text" name="Age" required placeholder="Enter Age"><br>

    <br>

    <input type="submit" value="Save">
</form>