@* <form asp-action="Index">
    <label>FullName: </label>
    <input type="text" name="fName" placeholder="Enter fullname">
    <input type="email" name="Email" placeholder="Enter email">
    
    <input type="submit" value="Save">
</form>
<h4>@ViewBag.ThongBao</h4> *@