@* <form asp-action="Index">

 
    @* // ax^2 + bx + c = 0 *@
    <label>Phương Trình Bậc 2 =  ax^2 + bx + c = 0</label><br>

    <label>a = </label><br>
    <input type="text" name="a" required placeholder="Enter a"><br>
    <label>b = </label><br>
    <input type="text" name="b" required placeholder="Enter b"><br>
    <label>c = </label><br>
    <input type="text" name="c" required placeholder="Enter c"><br>

    <br>

    <input type="submit" value="Save">

    <br>
</form>
<p>------------------------------------------------------------------------------------------------</p>
<p>@ViewBag.ThongBao</p> *@
