// Ho Va Ten : Dang Ngoc Tuong  || Ma Sinh Vien : 2121050140

<h1>Dữ liệu gửi từ Contraller gửi về là: @ViewBag.infoPerson </h1>
<form asp-action="Index">
    <label for="">Nhập PersonID:</label>
    <input type="text" name="PersonId" id="">
    <label for="">Nhập họ và tên:</label>
    <input type="text" name="FullName" id="">
    <label for="">Nhập địa chỉ:</label>
    <input type="text" name="Address" id="">
    <input type="submit" value="Gửi dữ liệu">
</form>