<form asp-action="Index">

    <label>StudentID:</label><br>
    <input type="text" name="StudentID" placeholder="Enter StudentID"><br>
    <label>FullName:</label><br>
    <input type="text" name="FullName" placeholder="Enter fullname"><br>
    <label>Address:</label><br>
    <input type="text" name="Address" placeholder="Enter address"><br>
    <label>Age:</label><br>
    <input type="text" name="Age" placeholder="Enter Age"><br>

    <br>

    <input type="submit" value="Save">

    <br>
</form>
<p>------------------------------------------------------------------------------------------------</p>
<p>@ViewBag.ThongBao</p>
